.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: darkgray transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.bg-color {
    /* Base background color */
    background-image: radial-gradient(
        120% 80% at 50% 0%,
        transparent 10%,
        rgba(0, 59, 117, 0.3) 80%
    ); /* Radial gradient background */
}
